{% load staticfiles %}
<html>
    <head>
        <title>GLS Fullstack Exercise</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/gla.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
		
    </head>
    <body>
    <h1>GLS Fullstack Exercise</h1>
	
	<div class="myClass1" id="id_1">First tip on me using id.<br/><span>Hover Me</span></div>

	<div class="myClass2">Second tip on me using class.<br/><span>Hover Me</span></div>

	<div class="myClass3">I am the 3rd div. 3rd tip on me using xpath.<br/><span>Hover Me</span></div>
	</body>
   
</html>