{% load staticfiles %}
 <!DOCTYPE html>
<html>
    <head>
        <title>GLS Fullstack Exercise</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/gla.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/player.js' %}"></script>
		
    </head>
    <body>
    <h1>GLS Fullstack Exercise</h1>
	
	<div class="myClass1" id="id_1" >First tip on me using id.<br/>
	<span class="hover-dt">Hover For Tooltip Display</span>
	<span class="guide">"Click to move on Next Tip"</span>
	</div>

	<div class="myClass2" style="display:none;">Second tip on me using class.<br/>
	<span class="hover-dt">Hover For Tooltip Display</span>
	<span class="guide">"Click to move on Next Tip"</span>
	</div>

	<div class="myClass3" style="display:none;">I am the 3rd div. 3rd tip on me using xpath.<br/>
	<span class="hover-dt">Hover For Tooltip Display</span>
	<span class="guide2">Click link <a href="https://education.oracle.com/oracle-cloud-guided-learning" target = "_blank">"Guide"</a> to open Learning Guide.</span>
	</div>
	
	<div class="myClass4" style="display:none;">I am the 4rd div. 4rd tip for testing.<br/>
	<span class="hover-dt">Hover For Tooltip Display</span>
	<span class="guide2">Click link <a href="https://education.oracle.com/oracle-cloud-guided-learning" target = "_blank">"Guide"</a> to open Learning Guide.</span>
	</div>
	</body>
   
</html>