tooltip {
			position: fixed;
			background: #fff;
			color: #333;
			border: 2px solid #333;
			font-size: 18px; 
			
		}
			
		.myClass1 {
			border: 3px solid green;
			margin-bottom: 50px;cursor: pointer;
			float: left;width: 20%;
			margin-left: 2%;
			height: 80px;
			padding:40px;
		}
		.myClass1:hover{
						opacity: .7;background: rgba(0,0,0,0);
						color: #3a7999;
						box-shadow: inset 0 0 0 3px #3a7999;
		}

		.myClass2 {
				border: 3px solid red;
				display: inline-block;
				float:left;
				cursor: pointer;margin-left: 2%;width: 20%;height: 80px;
				font-size:14px;
				padding:40px;
		}2
		.myClass2:hover{
					opacity: .7;background: rgba(0,0,0,0);
					color: #3a7999;
					box-shadow: inset 0 0 0 3px #3a7999;
		}
		.myClass3 {
			border: 3px solid blue;display: inline-block;cursor: pointer;float: left;
			margin-left: 2%;height: 80px;width:20%;padding:40px;
		}
		.myClass4 {
			padding: 40px;border: 3px solid yellow;display: inline-block;cursor: pointer;float: left;
			margin-left: 2%;margin-top:2%;height: 80;width:20%;
		}
		.myClass3:hover{
			opacity: .7;background: rgba(0,0,0,0);
			color: #3a7999;
			box-shadow: inset 0 0 0 3px #3a7999;
		}
		.hover-dt{
			color: white;
			text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue
		}
		.guide {
			
			padding-top:30px;
			padding-left:60px;
			display: inline-block;
			color:blue;
		}
		
		.guide2 {
			
			padding-top:30px;
			padding-left:15px;
			display: inline-block;
			
		}
		a:link, a:visited {
			
			color: red;
			text-decoration: underline;
			text-align: center;
			
			display: inline-block;
		}

